<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
	<extensions>
		<add assembly="NLog.MongoDB.NetCore"/>
	</extensions>
    <variable name="LogDir" value="${specialfolder:folder=MyDocuments}/MyApp/Log"/>
    <variable name="LogDay" value="${date:format=dd}"/>
    <targets>
        <target name="Mongo" xsi:type="Mongo" 
            includeDefaults="false" 
            connectionString="mongodb://admin:abc123!@localhost" 
            databaseName="NotesDb" 
            collectionName="Audit" 
            cappedCollectionSize="26214400" >
                <property name="ThreadID" layout="${threadid}" bsonType="Int32" />
                <property name="ThreadName" layout="${threadname}" />
                <property name="ProcessID" layout="${processid}" bsonType="Int32" />
                <property name="ProcessName" layout="${processname:fullName=true}" />
                <property name="UserName" layout="${windows-identity}" />
        </target>

        <target name="File" xsi:type="File" fileName=" ${basedir}/nlog-${shortdate}.log" />

    </targets>

    <rules>
        <logger name="Mongo" minLevel="Info"  writeTo="Mongo"/>
        <logger name="File" minLevel="Info"  writeTo="File"/>
		<logger name="*" minLevel="Info" writeTo="Mongo"/>
	</rules>
</nlog>