<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
   <extensions>
    <add assembly="NLog.MongoDB.NetCore"/>
  </extensions>
  <targets>
    <target name="FileSystemLog" type="File" fileName="${basedir}/system.log" />    
    <target name="SystemLog" xsi:type="Mongo" 
            includeDefaults="false" 
            connectionString="mongodb://admin:abc123!@localhost" 
            databaseName="NotesDb"
            collectionName="SystemLog"
            cappedCollectionSize="26214400">
             <property name="ThreadName" layout="${threadname}" />
    </target>
    <target name="AuditLog" xsi:type="Mongo" 
            includeDefaults="false" 
            connectionString="mongodb://admin:abc123!@localhost" 
            databaseName="NotesDb"
            collectionName="AuditLog"
            cappedCollectionSize="26214400">
               <property name="Date" layout="${date}" bsonType="DateTime" />
               <property name="Level" layout="${level}"/>
               <property name="Message" layout="${message}" />                              
    </target>
  </targets>
  <rules>
    <logger name="AuditLog" minLevel="Info" writeTo="AuditLog" /> 
    <logger name="SystemLog" minLevel="Error" writeTo="SystemLog" /> 
    <logger name="FileSystemLog" minLevel="Error" writeTo="FileSystemLog" />
  </rules>
</nlog>